body {
	
	font-size: 25px;
	line-height: 25px;
	font-family:'New Rocker', cursive;
	color: #030303;
	background-color: #FF6EB4;


}

form {
	padding: 1em;
	border: 2px dashed;
	background-color:#00FF7F;

}

